.header {
   margin: 0 2.5rem;
   padding: 0.5rem 0;
   align-items: center;
   display: flex;
   justify-content: space-between;
}

.headerLeft, .headerRight {
   display: flex;
   align-items: center;
}

a > span {
    margin: 0 1.875rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: #ff0000;
}

.header__icon {
    width: 5rem;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}